/* Universal Styles */
* {
  font-family: sans-serif;
  font-size: 100%;
}

/* Blocks */

.container {
  min-width: 290px;
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer"
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
  border: 2px solid black;
  padding: 5px;
}

.nav-list {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
}

.content {
  grid-area: content;
  max-width: 700px;
}

.footer {
  grid-area: footer;
  background-color: #eee;
  padding: 30px;
  margin-top: 20px;
}

/* Elements */

.header__title {
  font-size: 2rem;
}

.main-section h2 {
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-family: serif;
  font-size: 1.2rem;
  background-color: hsl(194, 100%, 80%);
  padding: 5px;
  box-shadow: 0 0 2px;
  border-radius: 5px;
  margin-top: 10px;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header   header"
      "nav      content"
      "footer   footer"
  }

  .content {
    padding-left: 20px;
  }
}