/* Universal Styles */
* {
  font-family: sans-serif;
  font-size: 100%;
}

/* Blocks */

.container {
  min-width: 290px;
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer"
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
  max-width: 700px;
}

.footer {
  grid-area: footer;
}

/* Elements */

.header__title {
  font-size: 2rem;
}

.main-section h2 {
  font-size: 1.5rem;
}